In [9]:
#importing python libraries
import pandas as pd
import pickle
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score,precision_score,accuracy_score

In [4]:
df=pd.read_csv("C:\\Users\\vamsi\\Downloads\\Abhi\\wk3_kc_house_train_data.csv")

In [5]:
df['date']=pd.to_datetime(df['date']) #as the time is in object format we convert it to date format

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9761 entries, 0 to 9760
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9761 non-null   int64
 1   date           9761 non-null   datetime64[ns]
 2   price          9761 non-null   float64
 3   bedrooms       9761 non-null   int64
 4   bathrooms      9761 non-null   float64
 5   sqft_living    9761 non-null   int64
 6   sqft_lot       9761 non-null   int64
 7   floors         9761 non-null   float64
 8   waterfront     9761 non-null   int64
 9   view           9761 non-null   int64
 10  condition      9761 non-null   int64
 11  grade          9761 non-null   int64
 12  sqft_above     9761 non-null   int64
 13  sqft_basement  9761 non-null   int64
 14  yr_built       9761 non-null   int64
 15  yr_renovated   9761 non-null   int64
 16  zipcode        9761 non-null   int64
 17  lat            9761 non-null   float64
 18  long           9761 non-null   float64
 19  sqft_living15  9761 non-null   int64
 20  sqft_lot15     9761 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 1.6 MB

In [7]:
x=df[['bathrooms',
 'sqft_living',
 'floors',
 'view',
'sqft_above',
 'condition',
 'grade',
 'yr_built','yr_renovated','sqft_basement']]
y=df[['price']]

In [21]:
x.head()

,bathrooms,sqft_living,floors,view,sqft_above,condition,grade,yr_built,yr_renovated,sqft_basement
0,3.00,1960,1.0,0,1050,5,7,1965,0,910
1,4.50,5420,1.0,0,3890,3,11,2001,0,1530
2,1.00,1160,1.0,0,860,4,7,1942,0,300
3,1.00,1430,1.5,0,1430,4,7,1927,0,0
4,1.75,1370,1.0,0,1370,4,7,1977,0,0

In [24]:
max(x.bathrooms)

8.0

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

In [11]:
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
regressor = DecisionTreeRegressor(min_samples_split=5, min_samples_leaf=12, max_depth=10) 
  
# fit the regressor with X and Y data
reg=regressor.fit(x_train, y_train)

In [12]:
reg.score(x_train,y_train)

0.7480841863413491

In [14]:
reg.score(x_test,y_test)

0.7483499266514324

In [16]:
with open("Home_Loan.pkl","wb") as file:
    pickle.dump(reg,file)  
    file.close()

In [17]:
with open("Home_Loan.pkl","rb") as file:
    Pickled_Ba_Model = pickle.load(file)

In [18]:
Ypredict = Pickled_Ba_Model.predict(x_test)

In [19]:
Ypredict

array([ 456249.11764706, 2227785.71428571,  458103.33333333, ...,
       1314939.66666667,  466999.19354839,  788796.67961165])